doctype html
html
   head
      title  login
   body
   div(style='text-align:center;font-family: monospace;')
        h1 not a valid #{company} login
        p  login support for #{company} is not added. Raise a ticket for support, it will be available in next version release.
